{% extends "learninglog/base.html" %}
{% block content %}
<p>Topics: {{ topic }}</p>
<p>Entries:</p>
<p>
    <a href="{% url 'learninglog:new_entry' topic.id %}">Add new entry</a>
    </p>

<ul>
    {% for entry in entries %}
    <div class="card mb-3">
         <h4 class="card-header">
        {{ entry.date_added|date:'M d, Y H:i' }}
          <small><a href="{% url 'learninglog:edit_entry' entry.id %}">
        edit entry</a></small>
        </h4>
          <div class="card-body">
        {{ entry.text|linebreaks }}
        </div>
        </div>
                {% empty %}
                <p>There are no entries for this topic yet.</p>
                {% endfor %}
            {% endblock content %}